*{margin: 0;
padding: 0;}

.left{
	float: left;

}
.right{
	float: right;
	
}
.center{
text-align: center;

}
ul li{display: inline-block;
}
.container{width: 1140px;margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
border: solid 2px lightgreen;}

.col1 { width: 8.33%; } 
.col2 { width: 16.66%; } 
.col3 { width: 25%; } 
.col4 { width: 33.33%; } 
.col5 { width: 41.66%; } 
.col6 { width: 50%; } 
.col7 { width: 58.33%; } 
.col8 { width: 66.66%; } 
.col9 { width: 75%; } 
.col10 { width: 83.11%; } 
.col11 { width: 91.66%; } 
.col12 { width: 100%; }

.row{
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

div[class*="col"] {
float: left; 
padding: 15px; 
box-sizing: border-box;
} 


body{
	min-width: 1200px;
}

/*PROMO*/

/*background promo*/

.promo {
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 57px;
	min-height: 23px;
	overflow: auto;
	background-image: url(..img/bg_promo.png);
}



