*{margin: 0;
padding: 0;}

.left{
	float: left;

}
.right{
	float: right;
	
}
.center{
text-align: center;

}
ul li{display: inline-block;
}
.container{width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
border: solid 2px lightgreen;}

.col1 { width: 8.33%; } 
.col2 { width: 16.66%; } 
.col3 { width: 25%; } 
.col4 { width: 33.33%; } 
.col5 { width: 41.66%; } 
.col6 { width: 50%; } 
.col7 { width: 58.33%; } 
.col8 { width: 66.66%; } 
.col9 { width: 75%; } 
.col10 { width: 83.11%; } 
.col11 { width: 91.66%; } 
.col12 { width: 100%; }

.row{
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

div[class*="col"] {
float: left; 
padding: 15px; 
box-sizing: border-box;
} 


body{
	min-width: 1200px;
}

body{font-family: 'Roboto', sans-serif;}

a{text-decoration: none;}


/*pseudoelement*/
/*blue-stripe*/
.title:after{
content"";
	border-bottom: 4px solid #3e98d7;
    width: 63px;
	height: 8px;
	vertical-align: middle;
	margin-top: 10px;
	background-size: 100%;
	
}
.second-title:after{
content"";
	border-bottom: 4px solid #3e98d7;
	width: 63px;
    height: 8px;
	vertical-align: middle;
	margin-top: 10px;
	background-size: 100%;
	
}

/*titles*/

.title {
color: #444444;
font-size: 26px;
margin-bottom: 76px; 
}

.second-title {
color: #444444;
font-size: 26px;
margin-bottom: 74px;
}

/*HEADER*/
.nav {
	min-height: 67px;
	background-color: #2c2c2c;
	 background-size: 100%; 
}
.logo-title{
color: #fff;
font-size: 16px;
margin-top: 24px;
margin-bottom: 25px;
margin-left: 30px;
}

.main-navigation_item{
	color: #fff;
	margin-top: 19px;
	margin-bottom: 14px;
	margin-left: 20px;
	padding: 5px;
	border: solid 1px transparent;
}
.main-navigation_item:hover{border: solid 1px #fff;}

/*PROMO*/
/*background promo*/

.promo {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 645px;
	overflow: auto;
	background-image: url(../img/bg_promo.png);
}
.promo-title{
color: #fff;
font-size: 52px;
margin-top: 188px;
margin-bottom: 192px;
}
.promo-btn{
color: #fff;
font-size: 14px;
padding: 12px;
border: 1px solid #fff;
}

.promo-btn:after{
content:"";
width: 22px;
height: 38px;
display: block;
vertical-align: middle;
background-size: 100%;
background-image: url(../img/strelka_down.png);
background-repeat: no-repeat;
margin-left: 560px;
margin-bottom: 28px;
margin-top: 18px;
}



/*ADVANTAGES
*/

.advantages {
min-height: 210px;

}
.adv-item__pic{
margin-top: 79px;
padding-right: 5px;
display: inline;

}
.adv-item__text{
	color: #444444;
	font-size: 16px;
	font-weight: bold;
margin-top: 92px;
display: inline;
}

/*pseudoelements adventages*/
/*.adv-item__text1:before{
	content"";
	width: ;
	height: ;
	vertical-align: middle;
	margin-right: 10px;
	background-size: 100%;
	background-image: url(../img/like-hand.png);
}
.adv-item__text2:before{
	content"";
	width: ;
	height: ;
	vertical-align: middle;
	margin-right: 10px;
	background-size: 100%;
	background-image: url(../img/glasses.png);
}
.adv-item__text3:before{
	content"";
	width: ;
	height: ;
	vertical-align: middle;
	margin-right: 10px;
	background-size: 100%;
	background-image: url(../img/camera.png);
}
.adv-item__text4:before{
	content"";
	width: ;
	height: ;
	vertical-align: middle;
	margin-right: 10px;
	background-size: 100%;
	background-image: url(../img/binoculares.png);
}

*/


/*BREAFLY*/

.breafly {
	min-height: 400px;
}

.info-text{
color: #444;
font-size: 16px;	
}

iframe.video {
	height: 300px;
	width: 748px;
}



/* GALLERY*/
.gallery {
	min-height: 457px;
}

/*PROCESS
*/
.process {
	min-height: 655px;
}
.process {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 645px;
	overflow: auto;
	background-image: url(../img/bg_mountains.png)
}

/*pseudoelements*/
/*balloons*/








/*COUNTDOWN
*/
.countdown {
	min-height: 103px;
	background-color: #f2f2f2;
}
            

.countdown-title{
color: #26668e;
font-size: 28px;
font-weight: bold;

}

.block{
color: #444444;
font-size: 24px;

display: inline-block;
		
}
.measure{
	float: left;
}

/*PRICE
*/
.price {
	min-height: 472px;
}
.price-text {
color: #444;
font-size: 16px;
}

/*PAYMENT
*/
.payment {
	min-height: 484px;
}
.third-title {
color: #444;
font-size: 24px;
margin-top: 20px;
margin-bottom: 20px;

}


.forth-title {
color: #444;

}
.faq-text {
color: #444;
font-size: 16px;
width: 454px;
}

/*pseudoelements payment*/
.forth-title:before{

	content:"";
width: 40px;
height: 40px;
display: block;
vertical-align: middle;
background-size: 100%;
background-image: url(../img/otvet.png);
background-repeat: no-repeat;
margin-left: 5px;
margin-bottom: 2px;
}


/*STATISTIC*/
.statistic {
min-height: 372px;	
}
.statistic{
background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 372px;
	overflow: auto;
	background-image: url(../img/bg_statistic.png)
}

/*TEAM*/
.team {
	min-height: 459px;
}

.title,
.title-team{
	margin-top: 90px;
}
.team-item_title{
color: #444;
font-size: 19px;
margin-top: 10px;
margin-bottom: 10px;
}

.team-item_text{
color: #444;
font-size: 18px;
margin-top: 10px;
margin-bottom: 10px;
}

/*FEEDBACK*/
.feedback {
	min-height: 582px;
}
.feedback-item{
	text-align: center;
	
}
.feedback-item_img{
}
.feedback-item_title{
	color: #444;
font-size: 19px;
font-weight: bold;
margin-top: 26px;
margin-bottom: 24px;
}
.feedback-item_text{
	color: #444;
	min-height: 118px;
	font-size: 15px;
	font-style: normal;
	text-align: center;
	
}

/*CONTACTS*/
.contacts{
min-height: 400px;
}
.contacts{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 645px;
	overflow: auto;
	background-image: url(../img/bg_contacts.png)
}

.adress-title {
	font-size: 19px;
	margin-top: 50px;
}

.adress-title:before {
content:"";
width: 63px;
height: 63px;
display: block;
vertical-align: middle;
background-size: 100%;
background-image: url(../img/square_blue.png);
background-repeat: no-repeat;
margin-left: 560px;
margin-bottom: 28px;

}

.adress-title:before{
content:"";
width: 39px;
height: 37px;
display: block;
vertical-align: middle;
background-size: 100%;
background-image: url(../img/airplane.png);
background-repeat: no-repeat;
margin-left: 560px;
margin-bottom: 28px;

}

.adress-text {
color: #2c2c2c;
font-size: 16px;
font-weight: bold;
margin-top: 16px;
}

.contacts-title {
font-size: 18px;
padding-right: 80px;
margin-top: 67px;

}

.contact-text1 {
	color: #2c2c2c;
	font-size: 16px;
	font-weight: bold;
margin-top: 20px;
}


.contact-text2{
	color: #2c2c2c;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.contact-text1:before{
	content:"";
width: 35px;
height: 52px;
display: block;
vertical-align: middle;
background-size: 100%;
background-image: url(../img/adress_mark.png);
background-repeat: no-repeat;
float: left;
margin-right: 18px;
margin-bottom: 60px;

}


.number {

font-size: 20px;
}

.e-mail {
color: #2c2c2c;
font-size: 18px;
font-weight: bold;
text-decoration: underline;
margin-top: 67px;
}

.e-mail:before {
content:"";
width: 26px;
height: 16px;
display: block;
vertical-align: middle;
background-size: ;
background-image: url(../img/email.png);
background-repeat: no-repeat;
float: left;
margin-right: 18px;
margin-top: 5px;
}

/*FOOTER*/


