*{margin: 0;
padding: 0;}

.left{
	float: left;

}
.right{
	float: right;
	
}
.center{
text-align: center;

}
ul li{display: inline-block;
}
.container{width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
border: solid 2px lightgreen;}

.col1 { width: 8.33%; } 
.col2 { width: 16.66%; } 
.col3 { width: 25%; } 
.col4 { width: 33.33%; } 
.col5 { width: 41.66%; } 
.col6 { width: 50%; } 
.col7 { width: 58.33%; } 
.col8 { width: 66.66%; } 
.col9 { width: 75%; } 
.col10 { width: 83.11%; } 
.col11 { width: 91.66%; } 
.col12 { width: 100%; }

.row{
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

div[class*="col"] {
float: left; 
padding: 15px; 
box-sizing: border-box;
} 


body{
	min-width: 1200px;
}

body{font-family: 'Roboto', sans-serif;}

a{text-decoration: none;}

/*HEADER*/
.nav {
	min-height: 67px;
}
/*#2c2c2c*/


/*PROMO*/

/*background promo*/

.promo {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 645px;
	overflow: auto;
	background-image: url(../img/bg_promo.png);
}

/*ADVANTAGES
*/

.advantages {
min-height: 189px;
}

.adv-item{width: 200px;margin-left: 10px;}
.adv-item__pic{width: 25%;}
.adv-item__text{width: 70%;}



/*BREAFLY*/
.breafly {
	min-height: 504px;
}

/* GALLERY*/
.gallery {
	min-height: 516px;
}

/*PROCESS
*/
.process {
	min-height: 697px;
}

/*COUNTDOWN
*/
.countdown {
	min-height: 104px;
}

/*PRICE
*/
.price {
	min-height: 472px;
}

/*PAYMENT
*/
.payment {
	min-height: 870px;
}


/*STATISTIC*/
.statistic {
min-height: 372px;	
}

/*TEAM*/
.team {
	min-height: 520px;
}

/*FEEDBACK*/
.feedback {
	min-height: 524px;
}

/*CONTACTS*/
.contacts{
min-height: 450px;
}

/*FOOTER*/
